* {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 70px;
    background-color:lightslategrey;
    text-align: center;
}

body {
    font: bold;
    font-size: 30px;
    font-style: italic;
}

section {
    padding: 50;
}

.TF img {
    width: 100%;
    height: 590px;
}

.TF {
    text-align: center;
}

